doctype html
html(lang="en")
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if post
            - var abstract = post.abstract
        else if page
            - var abstract = page.abstract
        else
            - var abstract = "Ensar.me"
        meta(name='description', content=abstract)


        if (host == "127.0.0.1:3000" || host == "localhost:3000")
            //- UIKit
            link(rel='stylesheet', href='/css/normalize.min.css')
            link(rel='stylesheet', href='/css/uikit.min.css')
        else
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css')

        //- Additional styles
        link(rel='stylesheet', href='/css/style.css')
        block head

    body
        if auth
            block edit

        section.uk-section.uk-section-small.uk-padding-remove-bottom
            section.uk-container.uk-container-small
                nav.uk-navbar-container.uk-navbar-transparent.uk-padding-remove-bottom(uk-navbar)
                    div.uk-navbar-left
                        ul.uk-navbar-nav
                            li #[a(href="/" class="logo") ensar.me]


                    div.uk-navbar-right

                        -menu = [ ["about", "/about/"], ["where", "/where/"], ["how", "/how/"], ["posts", "/posts/"], ["tags","/tags/"] ]
                        ul.uk-navbar-nav
                            each item in menu
                                if path == item[1]
                                    li.uk-active #[a(href=item[1])=item[0]]
                                else
                                    li #[a(href=item[1])=item[0]]


        section.uk-section.uk-section-small
            section.uk-container.uk-container-small
                section.uk-section.uk-section-default.main
                    header.uk-section.uk-section-medium.uk-text-center
                        h1.uk-heading-primary=title
                        block header
                    h1 !!!
                    h1=host
                    block content

                    footer.uk-section.uk-padding-remove-bottom.uk-text-
                        block footer

        //- script!= settingsdef

        if (host == "127.0.0.1:3000" || host == "localhost:3000")
            script(src='/js/jquery.min.js')
            script(src='/js/uikit.min.js')
            script(src='/js/uikit-icons.min.js')
        else
            script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js')
        
        block scripts
