extends ../layout

block header
    p.headline A tag
    p.abstract
        | #[strong Abstract.] Tag "#{title}" with corresponding posts.
        if posts.length
            |  Post count: #{posts.length}.
    //- if post.tags.length
    //-     p.abstract
    //-         | #[strong Keywords:]
    //-         | 
    //-         span
    //-             each tag in post.tags
    //-                 span.comma #[a(href="/tags/"+tag)=tag]
    //-                 | 

block content


    if posts.length

        div#postlist.uk-section.uk-section-xsmall
            each post in posts

                .uk-card.uk-grid-collapse.uk-margin(uk-grid='')
                    - slug= "/posts/"+post.slug
                    - created=dateFormat(post.created, "ddd, dS mmm yyyy")
                    //- - time=dateFormat(post.created, "yyyy-mm-ddTHH:mm")

                    if post.images[0]
                        .shadow.uk-card-media-left.uk-cover-container(class='uk-width-1-4@s')
                            a(href=slug)
                                img(src="/uploads/posts/"+post.slug+"/thumb_"+post.images[0].file width="200" height="200" alt="")
                            //- uk-cover=""
                            //- canvas(width='200', height='200')
                    div(class='uk-width-expand@s')
                        .uk-card-body.uk-padding-remove-vertical
                            h3.uk-card-title
                                a.uk-button-text(href=slug)=post.title
                                if auth
                                    | 
                                    a.uk-icon-button.uk-margin-small-left(uk-icon="icon: pencil; ratio: .75" href="/posts/"+post.slug+"/edit?_csrf="+csrfToken)
                            p #{post.headline}
                            span Written: #{created}
                            br
                            span Tags:
                                | 
                                for tag in post.tags
                                    a(href="/tags/"+tag)=tag
                                    | 

    else
        div Hmmm... No posts found under this tag. Sure you got your url right?


    //- div.uk-section.uk-section-small.uk-padding-small.uk-text-left
    //-     span
    //-         each post in posts
    //-             span.comma #[a(href="/posts/"+post.slug)=post.title]
    //-             if post.images[0]
    //-                 img(src="/uploads/"+ post.slug + "/thumb_"+ post.images[0].file alt="")

block footer
    ol
        li Permalink: 
            a(href="/tags/"+title) /tags/#{title}
        li Response time: #{ms}ms