extends ../layout
block edit
    div
        a.uk-button.uk-button-default.uk-button-small.uk-position-top-left.uk-margin-left(href="/posts/"+post.slug+"/edit?_csrf="+csrfToken)
            span(uk-icon="icon: pencil; ratio: .75")
            |  Edit

block header
    p.headline Written #{timestamp}
    p.abstract
        | #[strong Abstract.] #{post.abstract} | Reading time &asymp; #{readtime}
    if post.tags.length
        p.abstract
            | #[strong Keywords:]
            | 
            span
                each tag in post.tags
                    span.comma #[a(href="/tags/"+tag)=tag]
                    | 

block content

    include ../messages


    //- div.uk-section.uk-padding-remove-bottom.uk-text-left
    //-     h2.uk-heading.uk-text-uppercase=title

    div.uk-section.uk-section-xsmall.uk-text-justify(class="uk-column-1-2@m")!=body

    div.uk-section.uk-section-small.uk-padding-small.uk-text-left

        if post.active
            span(uk-icon="icon: check")
            | 
        else
            span(uk-icon="icon: close") | 

block footer
    ol
        li Permalink: 
            a(href="/posts/"+post.slug) #{post.slug}
